<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<form method="POST"  style="padding-left:100px;padding-right:100px;top:0px" >
                <td>监控数据日期:</td><input type="text" name="monitor_input" value="2021-4-3">
                <input type="submit" value="查询" id="monitor_btn"></form>`;
<p>{{data | safe}}
<!--<input type='button' class="test" onclick="test()" value = "buton">-->
<!--<script>-->
<!--  var val = '{{hello | safe}}';-->
<!--  function test(){-->
<!--  alert(val);-->
<!--  }-->
<!--</script>-->
<!--<p>{{hello}}-->
</body>
</html>