<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<div class="test" >
        
    </div>
</body>
<script>
    let newhtml = ''
    for (let i=0;i<3;i++){
    newhtml= newhtml + `
        <div class="main" style="width: 1200px; height: 500px;">
            test
        </div>
    `
    }
    function del_div(i){
    var e = document.getElementsByClassName('main')[i]
    document.getElementsByClassName('test')[0].removeChild(e);
    }
    let test=document.getElementsByClassName('test')[0]
<!--    newhtml= newhtml + `-->
<!--        <div id="main" style="width: 1200px; height: 500px;">-->
<!--            test-->
<!--        </div>-->
<!--    `-->
<!--    test.innerHTML=newhtml-->
<!--    test.appendChild(newhtml)-->
<!--    newhtml=newhtml + `-->
<!--        <div>-->
<!--            test1-->
<!--        </div>-->
<!--    `-->
<!--    test.appendChild(newhtml)-->
    test.innerHTML=newhtml
    for (let i=0;i<3;i++){
<!--    test.getElementsByClassName('main')[i].appendChild(`<button type="button" class="button btn-light" id="add-btn" onclick="del_div(${i})">删除${i}</button>`)-->
<!--    test.getElementsByClassName('main')[i].appendChild(`<button type="button" class="button btn-light" id="add-btn" onclick="del_div(${i})">删除1${i}</button>`)-->
    document.body.test.appendChild(`<button type="button" class="button btn-light" id="add-btn" onclick="del_div(${i})">删除${i}</button>`)
    test.getElementsByClassName('main')[i].appendChild(`<button type="button" class="button btn-light" id="add-btn" onclick="del_div(${i})">删除1${i}</button>`)
    }
</script>
</html>